body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin: 0; padding: 0; }
fieldset,img { border: 0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style: normal; font-weight: normal; }
ol,ul { list-style: none; }
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: normal; }
abbr,acronym { border: 0; }
body { background: #111; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 62.5%; color: #999; }
#wrapper {
    width: 900px;
    margin: 50px auto 0 auto;
}

#wrapper:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

#wrapper h1 {
    font-size: 3em;
    font-weight: bold;
    color: #EEE;
    margin: 0 0 15px 0;
    display: block;
    width: 260px;
    padding: 0 10px;
    text-align: right;
    background-color: green;
    color: #FFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#wrapper .left {
    float: left;
    width: 270px;
    text-align: right;
}

#wrapper .left h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    color: #CCC;
    margin: 0 0 3px 0;
    text-shadow: 0 1px 0 #000;
}

#wrapper .left h2 span.web {
    color: #555;
}

#wrapper .left h2 span.amp {
    font-size: 120%;
    font-family: "Baskerville", "Goudy Old Style", "Palatino", "Book Antiqua", serif;
    font-style: italic;
}

#wrapper .left h3 {
    font-family: "Lucida Grande", Tahoma, "Lucida Sans Unicode", Verdana, sans-serif;
    color: #666;
}

#wrapper .left h3 a {
    color: #666;
    border-bottom: 1px dotted #666;
    text-decoration: none;
}

#wrapper .left h3 a:hover {
    color: #999;
    border-bottom: 1px solid #999;
}

#wrapper .right {
    float: right;
    width: 600px;
}

#wrapper .right ul {
    margin-top: -1em;
}

#wrapper .right ul li {
    font-size: 2em;
    line-height: 2em;
}

#wrapper .right ul li a {
    text-decoration: none;
    color: #555;
    padding: 2px 4px;
}

#wrapper .right ul li a:hover {
    color: #777;
}

#wrapper .right ul li:hover a {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #444;
    color: #111;
}

#wrapper .right ul li:hover a:hover {
    background: #555;
    color: #222;
}

/* live */
#wrapper .right ul li:hover.live { color: #93CE0C; }
#wrapper .right ul li:hover.live a { background-color: #93CE0C; }
#wrapper .right ul li:hover.live a:hover { background-color: #C1F54B; }
/* lastfm */
#wrapper .right ul li:hover.lastfm { color: #FF005A; }
#wrapper .right ul li:hover.lastfm a { background-color: #FF005A; }
#wrapper .right ul li:hover.lastfm a:hover { background-color: #FF669C; }
/* flickr */
#wrapper .right ul li:hover.flickr { color: #FF0084; }
#wrapper .right ul li:hover.flickr span { color: #0063DC; }
#wrapper .right ul li:hover.flickr a { background-color: #FFF; color: #FF0084; }
/* twi */ 
#wrapper .right ul li:hover.twi { color: #0CCEAE; }
#wrapper .right ul li:hover.twi a { background-color: #0CCEAE; }
#wrapper .right ul li:hover.twi a:hover { background-color: #4DF4D8; }
/* habrahabr */ 
#wrapper .right ul li:hover.habr { color: #6DA3BD; }
#wrapper .right ul li:hover.habr a { background-color: #6DA3BD; }
#wrapper .right ul li:hover.habr a:hover { background-color: #D3E2F0; }
/* facebook */ 
#wrapper .right ul li:hover.facebook { color: #4C70BA; }
#wrapper .right ul li:hover.facebook a { background-color: #4C70BA; }
#wrapper .right ul li:hover.facebook a:hover { background-color: #96ABD6; }
/* blog */
#wrapper .right ul li:hover.blog { color: #FF9966; }
#wrapper .right ul li:hover.blog a { background-color: #FF9966; }
#wrapper .right ul li:hover.blog a:hover { background-color: #FFCC99; }